/* footer */
* {
  margin: 0px;
  padding: 0px;
}

/* footer box */
.footer {
  height: 210px;
  background-color: #FFEFE6;
  display: flex;
  align-items: center;
  padding: 50px;


}
/* container */
.container {
  width: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* footer 왼쪽 : 인포메이션 텍스트 */
.left-menu {
  display: flex;
  flex-direction: column;
  gap: 5px;

}

.info {
  align-items: center;
  margin-bottom: 20px;
}
.title {
  
  font-size: 20px;
  margin-right: 10px;
}

.caption {
  font-size: 18px;
  margin-right: 40px;
}



/* footer 왼쪽 : 인포메이션 이메일 */
.info-email {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
}

.caption-email {
  font-size: 15px;
  align-items: flex-start;
  line-height: 1.5;
  gap: 5px;
}

/* footer 오른쪽 : 로고 이미지 */
.logo-placeholder {
  width: 80px;
  height: 80px;
  background-color: #F47C2A;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

